@page
@using DemystifyTutorialSrp.Services.Account;
@*
    This is a simple registration page.
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@functions
{
        [BindProperty]
        public string UserName { get; set; }

        [BindProperty]
        public string Password { get; set; }

        public IActionResult OnPost([FromBody] UserInfo userInfo)
        {
            // register the given user
            UserInfoRepository.AddAccount(userInfo);

            // redirect to the main page
            //return RedirectToPage("/Index");
            //return Content("{ 'msg': 'Ok' }");
            return new JsonResult(new { msg = "Ok", redirect = "/Index" });
        }

        public IActionResult OnPostAddAccount(string user = null, string s = null, string v = null)
        {
            return RedirectToPage();
        }

        public IActionResult OnGetAddAccount(string user, string s, string v)
        {
            return RedirectToPage();
        }
    }
<h1>Register new user</h1>

@using (Html.BeginForm(FormMethod.Post))
    {
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="UserName" class="col-md-2 control-label">User name</label>
        <div class="col-md-10">
            <input asp-for="UserName" class="form-control" />
            <span asp-validation-for="UserName" class="text-danger"></span>
        </div>

        <label asp-for="Password" class="col-md-2 control-label">Password</label>
        <div class="col-md-10">
            <input asp-for="Password" type="password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="button" class="btn btn-primary"
                    onclick="$u.crypto.srp.AddAccount(
                                $.find('input#UserName')[0].value,
                                $.find('input#Password')[0].value,
                                $.find('input[name=\'__RequestVerificationToken\']')[0].value,
                                function (data) {
        alert(data);
        console.log('oops');
        //if (data) {
        window.location.href = '/Index';
        //}
    }); return true;">Register</button>
        </div>

        <button type="button" onclick="
        var token = $.find('input[name=\'__RequestVerificationToken\']')[0].value;
        var json = $.toJSON({ UserHex:'123', SHex:'321', VHex:'321123' });
        $.ajax({
        url: '/Account/Register',
            type: 'POST',
            contentType: 'application/json; charset=utf-8',
            data: json,
            dataType: 'json',
            headers: { 'RequestVerificationToken': token },
            complete: function () {
            alert('complete!');
        }
    });
        return false;
    ">Click to post!</button>
    </div>
}
