@page
@using DemystifyTutorialSrp.Services.Account;
@*
    This is a simple registration page.
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@functions
{
        [BindProperty]
        public string UserName { get; set; }

        [BindProperty]
        public string Password { get; set; }

        public IActionResult OnPost([FromBody] UserInfo userInfo)
        {
            // register the given user
            UserInfoRepository.AddAccount(userInfo);

            // return JSON result so that the callback can decide what to do next
            return new JsonResult(new { msg = "Ok", redirect = "/Index" });
        }
    }
<h1>Register new user</h1>

@using (Html.BeginForm(FormMethod.Post))
{
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="UserName" class="col-md-2 control-label">User name</label>
        <div class="col-md-10">
            <input asp-for="UserName" class="form-control" />
            <span asp-validation-for="UserName" class="text-danger"></span>
        </div>

        <label asp-for="Password" class="col-md-2 control-label">Password</label>
        <div class="col-md-10">
            <input asp-for="Password" type="password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="button" class="btn btn-primary"
                    onclick="$u.crypto.srp.AddAccount(
                                $.find('input#UserName')[0].value,
                                $.find('input#Password')[0].value,
                                $.find('input[name=\'__RequestVerificationToken\']')[0].value,
                                function (data) {
                                    alert('AddAccount returns: ' + $.toJSON(data));
                                    if (data.redirect) {
                                        window.location.href = data.redirect;
                                    }
                                }); return true;">Register</button>
        </div>
    </div>
}
